{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">{{ author }}</h1>
    <img src="{{ asset('build/images/image1.9164ee08.jpg') }}" alt="">
{% endblock %}